<%= form_for appointment, url: { action: 'create' } do |f| %>

  <% if appointment.errors.any? %>
    <ul>
      <% appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :date %>:
  <%= f.date_select :date %>
  <%=
    collection_select(
      :appointment,
      :appointment_time_id,
      AppointmentTime.all,
      :id,
      :time_to_string,
    )
  %>


  <%= submit_tag 'Create' %>
<% end %>
