<%= form_for @appointment do |f| %>

  <% if @appointment.errors.any? %>
    <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.time_select(:time) %>
  <%= f.collection_select(:user_id, User.all, :id, :to_s, {},
                          { class: 'form-control'}) %>
  <%= f.collection_select(:day_id, Day.order(:date), :id, :to_s, {},
                          { class: 'form-control'}) %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
