<%= semantic_form_for appointment, url: { action: 'create' } do |f| %>

  <% if appointment.errors.any? %>
    <ul>
      <% appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.inputs do %>
    <%= f.input :date %>
    <%= f.input :appointment_time, collection: AppointmentTime.order(:time) %>
  <% end %>

  <%= f.actions %>
<% end %>
